body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(194 65 12);
  color: #fff;
}

.content {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  text-transform: uppercase;
}

#seconds,
#tens {
  font-size: 2rem;
}

button {
  border: 1px solid #fff;
  background-color: rgb(194 65 12);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 15px 10px;
  width: 180px;
  margin: 10px;
  color: #fff;
}

button:hover {
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  color: yellowgreen;
}
